<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893142812118-bkmcu6avtip4rusr0brqimnrdiqv510k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893142812118-bkmcu6avtip4rusr0brqimnrdiqv510k</string>
	<key>API_KEY</key>
	<string>AIzaSyD-FiQIEVltJT38MFb1pW4LDoKmnDc317s</string>
	<key>GCM_SENDER_ID</key>
	<string>893142812118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookies</string>
	<key>PROJECT_ID</key>
	<string>learning-firebase2-afloate</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-firebase2-afloate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893142812118:ios:1d9642994f4a9f2005d077</string>
</dict>
</plist>